body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('img6.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.your {
    background-color:#beebe9;
    width: 90%;
    height: 90%;
    color: black;
}
h2 {
    text-align: center;
}